@model IEnumerable<AppVendas.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}


<div class="d-flex justify-content-between my-5 align-items-center">
    <span class="display-6 w-75 justify-content-center">Cadastro de Categorias</span>



    <a asp-action="Create" class="btn btn-secondary btn-lg px-3 w-25 d-flex align-items-center justify-content-center">
        <ion-icon name="add-circle-outline"></ion-icon>
        <span class=" fs-4 ms-2">Adicionar</span>
    </a>

</div>


<table class="table table-hover table-striped table-responsive">
    <thead>
        <tr class="bg-black text-light">
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-light">
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNome)
            </td>
            <td>
                    <a class="btn btn-outline-info btn-sm" asp-action="Edit" asp-route-id="@item.CategoriaId">
                        <ion-icon name="pencil-outline"></ion-icon>
                        Editar
                    </a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.CategoriaId">
                        <ion-icon name="trash-outline"></ion-icon>
                        Excluir
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
